<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Visualizations</title>
		<meta charset="utf-8" />
		<meta name="visualizations" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
      

            <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        
                    <div class="site-wrap">
                    
                        <div class="site-mobile-menu site-navbar-target">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close mt-3">
                            <span class="icon-close2 js-menu-toggle"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                        </div>
                        
                        
                        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
                    
                        <div class="container">
                            
                            
                            <div class="col-6 col-xl-2">
                                
                            </div>
                    
                            <!-- <div class="col-12 col-md-10 d-none d-xl-block"> -->
                                
                    
                                <!-- <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block"> -->
                                  <div align="right">
                                    <a href="/" >Home</a> &nbsp;  &nbsp;  &nbsp;    <a href="/predictions" >Predictions</a> &nbsp;  &nbsp;  &nbsp;<a href="/visualizations" >Visualizations</a></li>
                                
                                   
                               
                                
                            
                    
                    
                            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>
                    
                            </div>
                        </div>
                        
                       
            </header>

              <header id="header">
						<span class="avatar"><img src="/static/images/avatar.jpg" alt="" /></span>
						<h1> <strong>Data Visualizations</strong>, from exploration and analysis of the Use of Force and Calls databases.<br />
						</h1>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="/static/images/fulls/01.jpg">
										<img src="/static/images/thumbs/01.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="/static/images/fulls/02.jpg">
										<img src="/static/images/thumbs/02.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
								<div>
									<a href="/static/images/fulls/03.jpg">
										<img src="/static/images/thumbs/03.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="/static/images/fulls/04.jpg">
										<img src="/static/images/thumbs/04.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="/static/images/fulls/05.jpg">
										<img src="/static/images/thumbs/05.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
								<div>
									<a href="/static/images/fulls/06.jpg">
										<img src="/static/images/thumbs/06.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									<a href="/static/images/fulls/07.jpg">
										<img src="/static/images/thumbs/07.jpg" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
            <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
            <h1>This is <strong>Visualize</strong>, a responsive site template designed by <a href="http://templated.co">TEMPLATED</a><br />
              and released for free under the Creative Commons License.</h1>
              <ul class="icons">
                <li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
                <li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
              </ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.poptrox.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>