<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Visualizations</title>
		<meta charset="utf-8" />
		<meta name="visualizations" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
      

            <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        
                    <div class="site-wrap">
                    
                        <div class="site-mobile-menu site-navbar-target">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close mt-3">
                            <span class="icon-close2 js-menu-toggle"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                        </div>
                        
                        
                        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
                    
                        <div class="container">
            
                                  <div align="right">
									  <br>
									  <br>
                                    <a href="/" >Home</a> &nbsp;  &nbsp;  &nbsp;    <a href="/predictions" >Predictions</a> &nbsp;  &nbsp;  &nbsp;<a href="/visualizations" >Visualizations</a></li>
                        </div>  
            </header>

              <header id="header">
						<span class="avatar"><img src="/static/images/force_percentage_SR.jpg" alt="" /></span>
						<h1> <strong>Data Visualizations</strong>, from exploration and analysis of the Use of Force and Calls databases.<br />
						</h1>
					</header>

				<!-- Main -->
					<section id="main">



							<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="/static/images/force_percentage_SR.jpg">
										<img src="/static/images/force_percentage_SR.jpg" alt="" />
										<h3>Levels of Force and Subject Race</h3>
									</a>
									<a href="/static/images/ROC_curve_binary_logr.jpg">
										<img src="/static/images/ROC_curve_binary_logr.jpg" alt="" />
										<h3>ROC Curve - Binary Model Only</h3>
									</a>
									<a href="/static/images/coeffs copy">
										<img src="/static/images/coeffs copy" alt="" />
										<h3>ROC Curve - Binary Model Only</h3>
									</a>
								</div>
								<div>
									
									<a href="/static/images/heat_force_dow_month.png">
										<img src="/static/images/heat_force_dow_month.png" alt="" />
										<h3>Heat Map Use of Force Incidents Day of Week, Month</h3>
									</a>
									<a href="/static/images/ROC_gbc1234.jpg">
										<img src="/static/images/ROC_gbc1234.jpg" alt="" />
										<h3>ROC Curve - Gradient Boosting Classifier Model</h3>
									</a>
								</div>
								<div>
										<a href="/static/images/h2_cats.jpg">
											<img src="/static/images/h2_cats.jpg" alt="" />
											<h3>Calls for Service, Initial Call Types</h3>
									</a>
									<a href="/static/images/ROC_ALL.jpg">
										<img src="/static/images/ROC_ALL.jpg" alt="" />
										<h3>ROC Curve - Ensemble Model</h3>
									</a>
								</div>
							</section>
						
					</section>

				<!-- Footer -->
					<footer id="footer">
            <p>&copy; Untitled. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>. Demo Images: <a href="http://unsplash.com">Unsplash</a>.</p>
            <h1>This is <strong>Visualize</strong>, a responsive site template designed by <a href="http://templated.co">TEMPLATED</a><br />
              and released for free under the Creative Commons License.</h1>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.poptrox.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>